@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Account/_Shared.cshtml";
}

<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center" style="margin-bottom:25px;">
        <div class="col-lg-12 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div style="margin:30px;">
                    <h1 class="text-default">Terms of Service</h1>
                    <p class="text-default text-center" align="justify">
                        Our mission is to give people the power to build community and bring the world closer together.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
