
<div class="modal fade" id="modal-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="modal-delete-confirmation" aria-hidden="true" data-post-id="">
    <div class="modal-dialog modal-danger modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-danger">

            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-notification">Your confirmation is required</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="py-3 text-center">
                    <i class="fas fa-exclamation-triangle fa-3x"></i>
                    <h4 class="heading mt-4">You should confirm this!</h4>
                    <p>If you accept this, your post will be deleted permanently.</p>
                </div>

            </div>

            <div class="modal-footer">
                <a id="js-post-delete-confirmation" class="btn btn-white spinner-black" href="javascript:void(0);">
                    <span>Ok, Got it</span>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </a>
                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>