

<div class="modal fade" tabindex="-1" id="modal-under-construction" role="dialog" aria-labelledby="modal-under-construction" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-under-construction">

            <div class="modal-header">
            </div>

            <div class="modal-body">

                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading text-uppercase mt-4">Coming Soon</h4>
                    <p>
                        This page is currently under construction.<br />
                        Please, stay tuned!
                    </p>
                </div>

            </div>

            <div class="modal-footer text-center">
                <button class="btn btn-white spinner-black" data-dismiss="modal">
                    <span>Ok, Got it</span>
                </button>
            </div>

        </div>
    </div>
</div>