@model HelloGram.Core.ViewModels.UserViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "_Tab.cshtml";
}

<!-- Card -->
<div class="card mb-6">
    <div class="card-body">
        <div class="text-center py-6">
            <!-- Photo -->
            <div class="avatar avatar-xl mb-5">
                <img src="/Content/Images/Users/@Model.Image" alt="@Model.Username">
            </div>

            <h5>@Model.Name</h5>
            <p class="text-muted">@Model.About</p>
        </div>
    </div>
</div>
@Html.Partial("_UserDetails", Model)
<!-- Button -->
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    <button type="button" class="btn btn-block btn-secondary d-flex align-items-center js-logout">
        Logout <span class="fe-log-out ml-auto"></span>
    </button>
}