

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    <a href="javascript:void(0);" class="dropdown-item text-danger js-logout">
        <i class="ni ni-user-run"></i>
        <span>Logout</span>
    </a>
}