
<div class="card shadow mb-4">
    <div class="card-body">
        <p class="post-text text-center">There is no@(Model.Count > 0 ? " more" : "") @(!Model.IsDeleted ? "posts" : "deleted posts") in here.</p>
    </div>
</div>
