@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    if (string.IsNullOrEmpty(ViewBag.Message))
    {
        ViewBag.Message = "An error occurred while processing your request";
    }
    Layout = "~/Views/Account/_Shared.cshtml";
}
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-12 col-md-8">
            <div class="card bg-secondary shadow border-0">
                <div style="margin:30px;">
                    <h1 style="color:#172b4d;">@ViewBag.Title</h1>
                    <p style="color:#172b4d;">@ViewBag.Message</p>
                </div>
            </div>
        </div>
    </div>
</div>