
<div class="card shadow mb-4">
    <div class="card-body">
        <p class="post-text text-center">There is posts in here.<br />Start by subscribing to any of the categories from <a href="@Url.Action("Index", "Categories")">here</a> or search for new people.</p>
    </div>
</div>